@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'cursive';
}

header {
    background-image: url(imagens/backnav.png);
    height: 70px;
    margin-bottom: 2%;
}

body {
    background-color:white
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.logo{
    margin-left: 100px;
}

.navbar {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

.nav-menu{
    display: flex;
    align-items:center;
    gap: 25px;
}

.nav-item {
    width: 100px;
    height: 30px;
    padding: 0.5%;
    background-color: white;
    border-radius: 5px;
    text-align:center;
    transition: 0,1s ease;
    margin-right: 25px;
}

.nav-item a:hover{
    color: white;
}

.nav-item:hover{
    background: #6C1119;
    border-radius: 5px;
    text-align: center;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0,3s ease-in-out;
}

.body2{
    color: black;
    background-color: #FFB200;
    height: 650px;
    font-size: 25px;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
}

.textmain{
    font-size: 70px;
}

.litoral{
    color: white;
}

.paragrafo {
    font-size: 20px;
    margin-bottom: 2rem;
}

.img{
    max-width: 17%;
    max-height: 17%;
    margin: 10px 90px;
    justify-content: center;
    align-items: center;
    display: inline;
}

.words{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 400px;
    margin-bottom: 1rem;
}

* {
    box-sizing: border-box;
}

footer {
    line-height: 50px;
    height: 100px;
    background: rgb(255, 255, 255);
    padding: 28px;
}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}


ul{
    list-style: none;
    display: flex;
    gap: 70px 30px;
    justify-content: space-around;
    text-align: center;  
    border-radius: 50px;
}
.cidade img{
    border-radius: 20px;
    margin-top: 3em;
}

.cidade li:hover{
    transform: scale(1) rotate(2deg);
    cursor: pointer;
}